.addplace_body {
    background-image: url('https://www.transparenttextures.com/patterns/cubes.png');
    background-color: #F8F0F3; /* Light vinous background color */
    background-repeat: repeat;
  }
  