.grp6-body-calendar {
    margin-top: 3rem;
    padding: 2rem;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    overflow-y: hidden;
}

.grp6-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 10;
}

.grp6-header .box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.grp6-header .icon {
    position: fixed;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    right: 10px;
    z-index: 100;
}

.grp6-header .icon span {
    font-size: 2.5rem;
    width: 10px;
    height: 100px;
    margin: 10px 30px;
    cursor: pointer;
    color:#800020;
    text-align: center;
    user-select: none;
    transition: transform 0.1s ease-in-out 0.1s;
    padding-right: 2rem;
    padding-top: 1rem;
}

.grp6-header .icon span :last-child {
    margin-right: -10px;
}

.grp6-header .icon span:hover {
    transform: scale(1.2);
}

.grp6-header .current-date {
    font-size: 3.5rem;
    font-weight: 800;
}

.calendar {
    padding: 0.7rem;
    border: solid 0.1rem;
    border-radius: 5px;
    width: 100%;
    overflow: hidden;
}

.calendar ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
}

.calendar .days {
    margin-bottom: 0;
}

.calendar li {
    position: relative;
    color: rgb(140, 97, 54);
    width: calc(100% / 7);
    font-size: 1.75rem;
}

.calendar .weeks li {
    font-weight: 700;
    cursor: default;
    font-size: 2.5rem;
}

.calendar .days li {
    font-weight: 500;
    z-index: 1;
    cursor: pointer;
    position: relative;
    margin-top: 2.5rem;
    margin-bottom: 5px;
}

.days li.inactive {
    color: #000000a3;
}

.days li.active {
    font-weight: 800;
    color: #000000f6;
}

.days li::before {
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    height: 50px;
    width: 50px;
    z-index: -1;
    border-radius: 35%;
    transform: translate(-50%, -50%);
}

.days li.active::before {
    background-color: rgba(140, 97, 54, 0.668);
}

.days li:not(.active):hover::before {
    background: #715c5c59;
}

.days li.active::after {
    content: "⭐";
    position: absolute;
    left: 50%;
    bottom: 45px;
    transform: translateX(-50%);
    font-size: 1.75rem;
}

.days li:not(.active)::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 45px;
    transform: translateX(-50%);
    font-size: 1.75rem;
}