#place_page_slider {
  width: 700px;
  border-radius: 10px;
 
}


#place_page_slider .carousel.slide {
  position: relative;
  width: 100%;

}

#place_page_slider .carousel-inner {
  width: 100%;
  height: 100%;
  display: flex;
}

#place_page_slider .carousel-item {
  transition: transform 0.5s ease-in-out;
}

#place_page_slider .carousel-indicators button {
  background-color: #f7f7f7;
  cursor: pointer;
  width: 15px;
  height: 10px;
  border-radius: 50%;
  margin-left: 6px;
}
#place_page_slider .carousel-indicators button :hover::after{
  box-shadow: 20px 10px 15px rgba(255, 255, 255, 0.946);
}

#place_page_slider .carousel-indicators button:active {
  transform: scale(1.1);
}

#place_page_slider .carousel-indicators button:hover {

  transform: scale(1.1);

}

#place_page_slider .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit:fill;
}

