.grp-6-container {
    position: absolute;
    top: 40%;
    left: 0;
    transform: translate(0, -230%);
    z-index: 1000;
    width: 100%;
    padding: 0;
    margin: 0;
}

.input-group {
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
}

.input-group .form-control {
    border: 1px solid #ddd;
    font-size: 16px;
    padding: 10px;
    flex: 1;
    margin: 0;
    border-radius: 0;
}

.input-group .btn {
    background-color: #800020;
    color: #fff;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    border-radius: 0;
}

.input-group .btn:hover {
    background-color: #640018;
}

.input-group .form-control:focus {
    box-shadow: none;
    border-color: #495057;
}